{% extends 'index.html' %}

{% block content %}
    <div class="container-lg d-flex justify-content-center align-items-center" style="min-height: 75vh;">
        <div class="card shadow">
            <div class="card-body ">
                <h2 class="card-title text-center mb-4">Изменение профиля</h2>
                <form action="{% url 'change_profile' %}" method="post">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button type="submit" class="btn btn-dark w-100">Сохранить</button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}