{% extends 'base_link.html' %}
{% load static %}

{% block content %}
    <main class="form-signin w-100 m-auto container-md py-4"
          style="max-width: 330px; height: 600px; padding: 1rem; display: flex; align-items: center;">
        <form action="{% url 'login' %}" method="post">
            {% csrf_token %}
            <div class="d-flex justify-content-center">
                <img class="mb-4" src="{% static '/images/img/logo2.png' %}" alt="" width="100" height="100">
            </div>
            <h1 class="h3 mb-3 fw-normal">Пожалуйста войдите</h1>

            <div class="form-floating">
                <input type="text" class="form-control" id="floatingInput" name="username">
                <label for="floatingInput">Логин (Имя)</label>
            </div>
            <div class="form-floating">
                <input type="password" class="form-control" id="floatingPassword" name="password"
                       placeholder="Password">
                <label for="floatingPassword">Пароль</label>
            </div>

            <button class="btn btn-dark w-100 py-2 mt-2" type="submit">Войти</button>
            <div>
                <a class="text-decoration-none text-black position-absolute" style="margin-top: 20px" href="{% url 'password_reset' %}">Забыли пароль?</a>
            </div>
        </form>

    </main>
{% endblock %}