{% extends 'index.html' %}
{% load static %}

{% block content %}
    <div class="container-lg justify-content-center">
        <div class="profile">
            <div class="profile_name">Имя профиля: {{ user.username }}</div>
            <div class="profile_second-name">
                <p class="first-name">Имя: {{ user.first_name }}</p>
                <p class="second-name">Фамилия: {{ user.last_name }}</p>
            </div>
            <div class="profile_email">
                <p class="email">{{ user.email }}</p>
            </div>
            <div class="profile_gender">Пол: {{ user.gender }}</div>
        </div>
        <div class="profile_birth-date">
            <p class="age">Возраст: {{ user.age }}</p>
            <p class="birth_date">{{ user.birth_date }}</p>
        </div>
        <div class="d-flex justify-content-between">
            <a href="{% url 'recipe_add' %}">
                <button type="button" class="btn btn-dark" style="width: 300px">Добавить рецепт</button>
            </a>
            <a href="{% url 'change_profile' %}">
                <button type="button" class="btn btn-secondary " style="width: 300px;">Редактировать профиль</button>
            </a>
        </div>
        <div class="profile_recipes container-lg mt-5">
            {% if recipes %}
                {% for recipe in recipes %}
                    <div class="card w-100 mb-3 text-body">
                        <div class="card-body">
                            <div class="d-flex justify-content-between">
                                <h5 class="card-title">{{ recipe.name }}</h5>
                                <a class="delete-button" data-recipe-id="{{ recipe.id }}">
                                    <button class="btn p-0" title="Удалить рецепт"><img class="card-icon my-icons"
                                                                                        src="{% static 'images/icon/x-square-fill.svg' %}"
                                                                                        alt="Удалить"></button>
                                </a>
                            </div>
                            <p class="card-text">{{ recipe.description }}</p>
                            <div class="d-flex justify-content-between">
                                <a href="{% url 'recipe' recipe.id %}" class="btn btn-dark">К рецепту</a>
                                <p class="mt-auto mb-auto text-body-secondary">{{ recipe.view }} Просмотров |
                                    Рейтинг {{ recipe.average_rating.rating }} / 5
                                    ({{ recipe.average_rating.count }})</p>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            {% else %}
                <h5 class="mt-5 text-center">Здесь будут ваши рецепты. Поделитесь</h5>
            {% endif %}
            {% if recipes_del %}
                <h4>Удалённые рецепты</h4>
                {% for recipe in recipes_del %}
                    <div class="card w-100 mb-3 text-body-secondary">
                        <div class="card-body">
                            <div class="d-flex justify-content-between">
                                <h5 class="card-title">{{ recipe.name }}</h5>
                                <a class="restore-button" data-recipe-id="{{ recipe.id }}">
                                    <button class="btn btn-outline-success text-body-emphasis">Восстановить</button>
                                </a>
                            </div>
                            <p class="card-text">{{ recipe.description }}</p>
                            <div class="d-flex justify-content-between">
                                <p class="mt-auto mb-auto text-body-secondary">{{ recipe.view }} Просмотров |
                                    Рейтинг {{ recipe.average_rating.rating }} / 5
                                    ({{ recipe.average_rating.count }})</p>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            {% endif %}
        </div>
    </div>
{% endblock %}
{% block scripts %}
    <script src="{% static 'bootstrap/js/recipe_del_res.js' %}"></script>

{% endblock %}