<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
    {% load static %}
    <link href="{% static 'bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'styles/style.css' %}" rel="stylesheet">
</head>
<body>
<nav class="navbar navbar-expand-lg bg-body-tertiary " data-bs-theme="dark">
    <div class="container-fluid container-lg">
        <a class="navbar-brand text-success" href="#">
            <img src="../static/images/img/logo2.png" alt="Logo" width="80" height="80"
                 class="d-inline-block align-text-center">
            UnicRecipes
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">Книга рецептов</a>
                </li>
                {% if request.user.is_authentificated %}
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                           aria-expanded="false">
                            {{ request.user }}
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="#">Профиль</a></li>
                            <li><a class="dropdown-item" href="#">Сменить пользователя</a></li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li><a class="dropdown-item bg-danger" href="#">Выйти</a></li>
                        </ul>
                    </li>
                {% else %}
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                           aria-expanded="false">
                            Аккаунт
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="#">Вход</a></li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li><a class="dropdown-item" href="#">Регистрация</a></li>
                    </li>
                    </ul>
                {% endif %}

            </ul>
            <form class="d-flex" role="search">
                <input class="form-control me-2" type="search" placeholder="Поиск" aria-label="Поиск">
                <button class="btn btn-outline-success" type="submit">Найти</button>
            </form>
        </div>
    </div>
</nav>

<footer class="border-top bg-light fixed-bottom">
    <div class="d-flex flex-wrap justify-content-between align-items-center py-4 container-lg">
        <div class="col-md-4 d-flex align-items-center">
            <a href="/" class="mb-3 me-2 mb-md-0 text-body-secondary text-decoration-none lh-1">
                <svg class="bi" width="30" height="24">
                    <use xlink:href="#bootstrap"></use>
                </svg>
            </a>
            <span class="mb-3 mb-md-0 text-body-secondary">© 2024 _PyDev with Django, Inc</span>
        </div>
        <div class="d-flex mb-0">
            <ul class="nav gap-3">
                <li class="ms-3"><a class="text-body-secondary" href="#">
                    <img class="my-icons" src="../static/images/icon/vk-1-logo-svgrepo-com.svg"></img>
                </a></li>
                <li class="ms-3"><a class="text-body-secondary" href="#">
                    <img class="my-icons" src="../static/images/icon/telegram-svgrepo-com.svg"></img>
                </a></li>
                <li class="ms-3"><a class="text-body-secondary" href="#">
                    <img class="my-icons" src="../static/images/icon/github-142-svgrepo-com.svg"></img>
                </a></li>
            </ul>
        </div>
    </div>
</footer>
<script src="{% static 'bootstrap/js/bootstrap.bundle.min.js' %}"></script>
</body>
</html>
