.my-icons {
    margin: 0;
    padding: 2px;
    border: #f8f9fa 1px solid;
    border-radius: 10px;
    transition: 0.3s;
}

.my-icons:hover {
    border: #343a40 1px solid;
    transition: 0.3s;
    background: #d2d2d2;
}

.my-href {
    margin-top: 20px;
    color: #fff;
    text-decoration: none;
}

.my-href:hover {
    text-decoration: underline;
}

.img-carousel {
    width: 100%;
    height: 70vh;
    display: flex;
    justify-content: center;
    overflow: hidden;
}

.img-carousel img {
    max-width: 100%;
    height: 100%;
    object-fit: cover;
    margin: auto;
}

.carousel-caption {
    position: static;
}

.card img {
    height: 400px;
    object-fit: cover;
    overflow: hidden;
}

.short-input-form {
    width: 400px;
}

.my-form label {
    font-size: 20px;
}

.my-form p {
    padding-bottom: 10px;
}

.active > .page-link, .page-link.active {
    background-color: var(--bs-dark);
    border-color: #212529;
}

.pagination {
    --bs-pagination-color: none;
}

.card-icon {
    width: 24px !important;
    height: 24px !important;
}

.rating-star-icon {
    width: 24px !important;
    height: 24px !important;
    margin: 2px;
}

.icon-post-rating {
    width: 15px !important;
    height: 15px !important;
    margin-right: 8px;
}

.my-rating-gap {
    margin-top: -20px;
}
