.my-icons {
    margin: 0;
    padding: 2px;
    border: #f8f9fa 1px solid;
    border-radius: 10px;
    transition: 0.3s;
}

.my-icons:hover {
    border: #343a40 1px solid;
    transition: 0.3s;
    background: #d2d2d2;
}

.my-h1 {
    background-color: #2c0b0e;
    color: #fff;
}