{% extends 'index.html' %}
{% load static %}

{% block content %}
    <div class="start-categories"></div>
    <div class="row container-lg m-auto">
        {% for category in categories %}

            <div class="col-lg-4 mb-4">
                <a href="{% url 'recipes_by_category' category.id %}">
                    <div class="categories-box">
                        <img class="categories-img" src="{{ category.img.url }}" alt="{{ category.name }}">
                        <div class="categories-bg">
                            <p class="categories-text">{{ category.name }}</p>
                        </div>
                    </div>
                </a>
            </div>

        {% endfor %}

    </div>
    <div class="container-lg">
        <a href="{% url 'recipes_by_category' latest.id %}">
            <div class="categories-box latest">
                <img class="categories-img" src="{{ latest.img.url }}" alt="{{ latest.name }}">
                <div class="categories-bg" style="height: 30%">
                    <p class="categories-text">{{ latest.name }}</p>
                </div>
            </div>
        </a>
    </div>
{% endblock %}